@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.woff2') format('woff2'),
    url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snapchat-ghost:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter1:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-pinterest2:before {
  content: "\ead2";
}

@font-face {
  font-family: 'Marvel';
  src:  
    url('../fonts/Marvel-Regular.woff2') format('woff2'),
    url('../fonts/Marvel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marvel';
  src: 
    url('../fonts/Marvel-Italic.woff2') format('woff2'),
    url('../fonts/Marvel-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Marvel';
  src:  
    url('../fonts/Marvel-BoldItalic.woff2') format('woff2'),
    url('../fonts/Marvel-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Marvel';
  src:url('../fonts/Marvel-Bold.woff2') format('woff2'),
    url('../fonts/Marvel-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}